/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/* CSS for Desktop */

body {
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

p, span {
    font-family: 'Roboto Mono', monospace; ;
}
a, button {
    cursor: pointer !important;
}
#header {
    background-color: #131B42;
    height: 4em;
}
#home_background{
    background-image: url('../images/home_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    top: 0%;
    bottom:0%;
    left:0%;
    right: 0%;
    width: 100vw;
    height: 100vh;
}
.blue-body {
    background-color: #86C1DC;
}
.external_link {
    cursor: pointer;
    margin-left: 40%;
}
#main-logo {
    margin-top: 5em;
    margin-left: 40%;
    margin-bottom: 3em;
}
#main-logo img {
    height: 20em;
}
#homepage_text {
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
}
#about_text {
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
}
#quizcomplete_text {
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
    width: 30%;
}
.lives-area img {
    height: 3em;
    padding: .1em;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.lives_text {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 4em;
    margin-top: 12px;
    text-align: center;
}
.col.score{
    color:white;
    padding-top: 1.2em;
    font-family: 'Roboto Mono', monospace;
}
.score img {
    margin-right: 1em;
}
#soundtrack-graphic {
    margin-top: 24px;
    height: 32px;
    cursor: pointer;   
}
.play_button {
    background-color: transparent !important;
    border: none;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    cursor: pointer;
}
.back_button img {
    text-align: center;
    cursor: pointer;
    margin-left: 45%;
}
.play_button img{
    margin-right: 0;
    margin-left: 60%;
    padding-right: 0;
}
.about_button {
    background-color: transparent !important;
    border: none;
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
}
.quiz, .question {
    background-image: url('../images/best_landscape.jpg');
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden !important;
}
#question_one , .question-score {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.question-score {
    margin-bottom: 3em;
}
.three-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    margin-top: 3em;
}
.transport-icon {
    padding: 2em;
}
.main-heading {
    text-align: center;
    margin-top: 5em;
}
.main-heading h1 {
    font-weight: bold;
}
.three-buttons img {
    height: 10em;
}
.final-score {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-bottom: 4em;
}
footer {
    height: 0px;
}
.sunglasses {
    margin-bottom: 0;
    bottom: 0%;
}
.bottom-row {
    margin-left: 23%;   
}
.bottom-row {
    margin-top: 24px !important;
}
#livesfont {
    height: 1.25em;
}
.quizcomplete{
    height: 200px;
    margin-left: 20%;
    margin-bottom: 0em;
    margin-top: 3em;
}
.quizcomplete_img{
    height: 120px;
}
 .gameover {
     height: 200px;
     margin-left: 40%;
     margin-bottom: 3em;
     margin-top: 6em;
 }
 .gameover_image {
    height: 150px;
 }
 .play_again {
     height: 4em;
     margin-left: 60%;
 }
 .quit {
    height: 4em;
 }
 .michael1 {
     height: 400px;
     margin-left: 35%;
     margin-top: 2em;
 }
 .michael1_img{
     height: 350px;
 }
/* Media Querys */

@media screen and (max-width: 1400px) {
    .quizcomplete{
        height: 200px;
        margin-left: 10%;
        margin-bottom: 0em;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 120px;
    }
}

@media screen and (max-width: 1200px) {
    #homepage_text > img {
        margin-top: 2em;
        margin-left: 5%;
        height: 75px;
    }
    .three-buttons img {
        height: 8em;
    }
    .play_again {
        height: 4em;
        margin-left: 50%;
    }
    .quizcomplete{
        height: 200px;
        margin-left: 10%;
        margin-bottom: 0em;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 100px;
    }
}
@media screen and (max-width: 992px) {
    .three-buttons img {
        height: 6em;
    } 
    #quizcomplete_text {
        margin-top: 2em;
        margin-left: 10%;
        margin-right: 30%;
        margin-bottom: 3em;
        width: 30%;
    }
    .play_button img{
        margin-right: 0;
        margin-left: 40%;
        padding-right: 0;
    } 
    .gameover {
        height: 200px;
        margin-left: 30%;
        margin-bottom: 3em;
        margin-top: 6em;
    }
    .gameover_image {
       height: 150px;
    }
    .play_again {
        height: 4em;
        margin-left: 20%;
    }
    .quit {
       height: 4em;
    }
    .michael1 {
        height: 400px;
        margin-left: 30%;
        margin-top: 2em;
    }
    .michael1_img{
        height: 350px;
    }
    .quizcomplete{
        height: 150px;
        margin-left: 7%;
        margin-bottom: 0em;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 80px;
    }
}


@media screen and (max-width: 768px) {
    #homepage_text > img {
        margin-top: 2em;
        margin-left: 2%;
        height: 75px;
    }
    #homepage_text {
        margin-left: 3em !important;
        margin-bottom: 0 !important;
    }
    #main-logo {
        margin-left: 30%;
    }
    #main-logo img {
        height: 15em;
        margin-left: 0em !important;
        padding-left: 0em !important;
    }
    .three-buttons img {
        height: 7em;
    }
    .play_button img{
        margin-right: 0;
        margin-top: 24px;
        margin-left: 30%;
        margin-bottom: 24px;
        padding-right: 0;
    }
    .about_button {
        background-color: transparent !important;
        border: none;
        margin-left: 30%;
        text-align: center;
        cursor: pointer;
    }
    .gameover {
        height: 200px;
        margin-left: 20%;
        margin-bottom: 3em;
        margin-top: 6em;
    }
    .gameover_image {
       height: 150px;
    }
    .play_again {
        height: 4em;
        margin-left: 30%;
        margin-bottom: 1em;
    }
    .quit {
       height: 4em;
       margin-left: 30%;
    }
    .michael1 {
        height: 400px;
        margin-left: 30%;
        margin-top: 2em;
    }
    .michael1_img{
        height: 350px;
    }
    .final-score {
        margin-bottom: 2em;
    }
    .quizcomplete{
        height: 200px;
        margin-left: 5%;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 60px;
    }
}
@media screen and (max-width: 576px) {
    #homepage_text > img {
        margin-top: 2em;
        margin-bottom: 32px;
        margin-left: 0;
        padding-left: 0;
        height: 50px;
    }
    #homepage_text {
        margin-left: 5em !important;
        margin-bottom: 0 !important;
    }

    #header {
        background-color: #131B42;
        height: 7em;
    }

    .main-heading {
        text-align: center;
        margin-top: 1em;
    }

    .question-score {
        margin-bottom: 1em;
    }
    
    .three-buttons {
        margin-top: 1em;
    }
    .three-buttons img {
        height: 7em;  
    }
    .transport-icon {
        padding: .5em;
    }
    .bottom-row {
        margin-left: 0%;
    }
    .bottom-row img{
        margin-top: 2px !important;
    }
    .play_button img{
        margin-right: 0;
        margin-top: 24px;
        margin-left: 30%;
        margin-bottom: 24px;
        padding-right: 0;
    }
    .question h1{
        font-size: small !important;
    }
    #about_text {
        margin-top: 2em;
        margin-left: 8%;
        margin-bottom: 3em;
    }
    #about_text > img {
        margin-top: 1em;
        margin-bottom: 24px;
        margin-left: 0;
        padding-left: 0;
        height: 250px;
    }
    .external_link {
        cursor: pointer;
        margin-left: 20%;
    }
    .back_button img {
        text-align: center;
        cursor: pointer;
        margin-left: 35%;
    }
    .gameover {
        height: 200px;
        margin-left: 13%;
        margin-bottom: 3em;
        margin-top: 6em;
    }
    .gameover_image {
       height: 150px;
    }
    .play_again {
        height: 4em;
        margin-left: 20%;
        margin-bottom: 1em;
    }
    .quit {
       height: 4em;
       margin-left: 20%;
    }
    .michael1 {
        height: 400px;
        margin-left: 10%;
        margin-top: 2em;
    }
    .michael1_img{
        height: 350px;
    }
    .final-score {
        margin-bottom: 2em;
    }
    .quizcomplete{
        height: 100px;
        margin-left: 5%;
        margin-bottom: 0em;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 45px;
    }
}
@media screen and (max-width: 414px) {
    .quizcomplete{
        height: 50px;
        margin-left: 15%;
        margin-bottom: 0em;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 30px;
    }
    .gameover {
        height: 120px;
        margin-left: 12%;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .gameover_image {
       height: 120px;
    }
    #homepage_text > img {
        margin-top: 1em;
        margin-bottom: 12px;
        margin-left: 24px;
        padding-left: 0;
        height: 35px;
    }
    #main-logo img {
        height: 12em;
        margin-left: 0em !important;
        padding-left: 0em !important;
    }
}

@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    #home_background{
        background-image: url('../images/home_background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0%;
        bottom:0%;
        left:0%;
        right: 0%;
        max-width: 375px;
        max-height: 700px
    }
    #homepage_text > img {
        margin-top: 1em;
        margin-bottom: 12px;
        margin-left: 24px;
        padding-left: 0;
        height: 35px;
    }

    #about_text {
        margin-top: 2em;
        margin-left: 1%;
        margin-bottom: 3em;
    }

    #about_text > img {
        margin-top: 1em;
        margin-bottom: 24px;
        margin-left: 0;
        padding-left: 0;
        height: 220px;
    }

    .external_link {
        margin-left: 2%;
    }

    .external_link > a > img {
        margin-left: 2%;
        padding-left: 0px;
        left: 0px;
        cursor: pointer;
    }

    #homepage_text {
        margin-left: .5em !important;
        margin-top: 1em !important;
        margin-bottom: 0 !important;
    }
    #header {
        background-color: #131B42;
        height: 7em;
    }
    .back_button img {
        text-align: center;
        cursor: pointer;
        margin-left: 25%;
    }
    .main-heading {
        text-align: center;
        margin-top: 1em;
        margin-left: 0;
    }
    .question-score {
        margin-bottom: 1em;
    }
    .three-buttons {
        margin-top: .5em;
    }
    .three-buttons img {
        height: 4em;
        margin-left: 1.5em;  
    }
    .transport-icon {
        padding: .5em;
    }
  
    .play_button img{
        margin-right: 0;
        margin-top: 24px;
        margin-left: 20%;
        margin-bottom: 24px;
        padding-right: 0;
    }
    .about_button{
        margin-left: 20%;
    }
    
    .question, h1{
        font-size: 20px !important;
    }
    #main-logo img {
        height: 10em;
        margin-left: 0;
        margin-right: 0;
    }
    #main-logo {
        margin-top: 5em;
        margin-left: 20%;
        margin-bottom: 1em;
        margin-right: 0;
    }
    .gameover {
        height: 120px;
        margin-left: 2%;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .gameover_image {
       height: 120px;
    }
    .play_again {
        height: 4em;
        margin-left: 5%;
        margin-bottom: 1em;
    }
    .quit {
       height: 4em;
       margin-left: 5%;
    }
    .michael1 {
        height: 400px;
        margin-left: 12%;
        margin-top: 1em;
    }
    .michael1_img{
        height: 200px;
        margin-left: 3%;
    }
    .final-score {
        margin-bottom: 1em;
    }
    .quizcomplete{
        height: 50px;
        margin-left: 5%;
        margin-bottom: 0em;
        margin-top: 3em;
    }
    .quizcomplete_img{
        height: 30px;
    }
}






