/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/* CSS for HomeScreen & Quiz */

p {
    font-family: 'Roboto Mono', monospace; ;
}

#header {
    background-color: #131B42;
    height: 4em;
}

#home_background{
    background-image: url('/assets/images/home_background.svg');
    background-repeat: none;
    background-size: cover;
    top: 0%;
    bottom:0%;
    left:0%;
    right: 0%;
    position:absolute;

}

.lives-area img {
    height: 3em;
    padding: .1em;
    padding-top: 1em;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.lives_text {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-weight: 900;
    padding-top: 4em;
    text-align: center;
}


.col.score{
    color:white;
    padding-top: 1.2em;
}

.button-content {
display: flex;
flex-direction: column;
}

button {
margin: 20px;
min-width: 200px;
background-color: transparent !important;
border: none;
}

.button {
display: flex;
justify-content: center;
}

.quiz, .question {
    background: #86C1DC;
}

#question_one , .question-score {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}







