/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/* CSS for HomeScreen & Quiz */

p, span {
    font-family: 'Roboto Mono', monospace; ;
}



a, button {
    cursor: pointer !important;
}

#header {
    background-color: #131B42;
    height: 4em;
}

#home_background{
    background-image: url('/assets/images/home_background.svg');
    background-repeat: none;
    background-size: cover;
    top: 0%;
    bottom:0%;
    left:0%;
    right: 0%;
    position:absolute;

}

#complete_background{
    background-color: #86C1DC;
    background-size: cover;
    top: 0%;
    bottom:0%;
    left:0%;
    right: 0%;
    position:absolute;
}


#main-logo {
    margin-top: 5em;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3em;
}

#game-over-graphic {
    bottom: 0px;
    margin-bottom: 0em;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    position: fixed;
}

#quiz-complete-graphic {
    bottom: 0px;
    position: fixed;
    margin-bottom: 0em;
    width: 20%;
    margin-left: 30%;
    margin-right: 30%;
    min-width: 300px;
    z-index: 1;
    
}

#quiz-complete-graphic img {
    bottom: 0px;
    margin-bottom: 0em;
    height: 550px;
    
}

#game-over-graphic img {
    bottom: 0px;
    margin-bottom: 0em;
}

#main-logo img {
    height: 20em;
}

#homepage_text {
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
}

#gameover_text {
    margin-top: 2em;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3em;
}
#quiz_success_text {
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
}


#quizcomplete_text {
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
    width: 30%;
}

.lives-area img {
    height: 3em;
    padding: .1em;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.lives_text {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 4em;
    margin-top: 12px;
    text-align: center;
}


.col.score{
    color:white;
    padding-top: 1.2em;
    font-family: 'Roboto Mono', monospace;
}

.score img {
    margin-right: 1em;
}


.play_button {
    background-color: transparent !important;
    border: none;
    margin: 20px 30% 20px 20px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
margin: 20px;
background-color: transparent !important;
border: none;
text-align: center;
}


.button-content {
    display: flex;
    flex-direction: column;
}

.quiz, .question {
    background: #86C1DC;
    font-family: 'Roboto Mono', monospace;
}



#question_one , .question-score {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.question-score {
    margin-bottom: 3em;
}


.three-buttons {
    margin-top: 3em;
}

.main-heading {
    text-align: center;
    margin-top: 10em;
}
.main-heading h1 {
    font-weight: bold;
}
.three-buttons img {
    height: 10em;
    
}
.final-score {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
footer {
    height: 0px;
}
.sunglasses {
    margin-bottom: 0;
    bottom: 0%;
}

.bottom-row {
    margin-left: 23%;
}






